<?xml version="1.0"?>
<launch>
	<node pkg="vicon_pose" type="vicon_pose" name="conv_q_p_UAV">
		<param name="object_name" value="CRASH" type="str" />
		<remap from= "subject_pose" to="UAV_pose" />
	</node>
	
	<node pkg="vicon_pose" type="vicon_pose" name="conv_q_p_UAV2">
		<param name="object_name" value="CRASH" type="str" />
	</node>
	<!--node name="script_input" type="script_input" pkg="script_input">
		<param name="task_pub_rate" value="20.0" />
 		<param name="pose_error" value="0.5" />
		<param name="dir_error" value="0.3" />
		<param name="land_delay" value="10.0" />
	</node-->
	<node name="gui_fly" type="gui_fly" pkg="gui_fly">
	</node>
	
	<node name="hover_current_position" type="hover_current_position" pkg="hover_current_position">
	</node>

	<!--Set communication method-->
	<node name="robot_comm" type="serial_comm" pkg="communication">
		<remap from="serial_rx_data" to="robot_rx_data"/>
		<remap from="serial_tx_data" to="robot_tx_data"/>
		<param name="serial_device" value="/dev/ttyUSB0"/>
    	</node>
  
	<!--Launch mitAscTec-->
	<include  file="$(find collab_launch)/new_pid_ctrl.launch" />
	<include  file="$(find collab_launch)/common.launch" />
</launch>
